*{
    margin: 0px;
    padding: 0px;
    background-color: black; 
    font-family: Tahoma;
}

.background{
    /* background: rgb(0, 0, 0.7); */
    background-size: cover;
    background-blend-mode: darken;
}
.navbar,.nav-h{
    /* position: absolute; */
    display: flex;
    position: sticky;
    top: 0px;
    /* align-items: center; */
    /* border: 2px solid rgb(117, 243, 75); */
    /* position: absolute; */
}

.logo{
    /* border: 2px solid skyblue; */
    width: 20%;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.logo img{

    width: 150px;
    height: 90px;
}
.navlist,.navlist-res{
    /* background-color: aqua; */
    width: 90%;
    display: flex;
    align-items: center;
    /* margin-left: 55px; */
}
.navlist li,.navlist-res li{

    list-style: none;
    /* padding: 22px 15px; */
    /* margin-left: 5px; */
    box-shadow: 6px 6px 8px 0px rgb(50, 5, 73);
    border-radius: 20px;
    padding: 2px 2px;
    margin: 0px 5px;

}
.navlist li:hover,.navlist-res li:hover{
    box-shadow: none;
}
.navlist li a,.navlist-res li a{
    text-decoration: none;
    
    color: rgb(6, 238,33);
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 20px;
    font-weight: bold;
    margin: 0px 18px 0px 18px;
    opacity: 0.8;
}
.navlist li a:hover,.navlist-res li a:hover{
    opacity: 1;
        border-bottom: 4px solid   rgb(6, 238, 33);
        border-radius: 28px;
        padding: 2px;
        color:  rgb(6, 238, 33);
}
.rightnav,.rightnav-res{
    /* background-color: brown; */
    width: 10%;
    text-align: right;
    padding: 27px 20px 0px 0px;
}
.rightnav button,.rightnav-res button{
    font-weight: bolder;
    color: black;
    background-color: rgb(6, 238, 33);
    padding: 2px;
    font-size: 22px;
    /* width:20%; */
    border-radius: 15px;
    /* margin: 10px; */
}
.rightnav button:hover,.rightnav-res button:hover{
    color:  rgb(6, 238, 33);
    border: 2px solid   rgb(6, 238, 33);
    box-shadow:  1px 3px 40px -4px rgb(6, 238, 33);
    padding: 3px;
    background-color: black;

}
.hmiddle{
    /* border: 2px solid orangered; */
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* position: absolute; */
    /* max-width: 100%; */
    /*flex-direction: column;
    text-align: center;
    position: absolute; */
    /* max-width: 100%; */
    /* text-align: center ; */
    /* display: block; */
    /* width: 100%; */
    /* background-color: black; */
    /* position: fixed; */
}

.hblock{
    /* border: 2px solid rgb(252, 43, 43); */
    border-radius: 20px;
    box-shadow: 0px 0px 420px 80px  rgb(50, 5, 73);
    text-align: left ;
    max-width: 80%; 
    color: rgb(66, 194, 34);
    font-weight: bolder;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    /* height: 20%; */
    opacity: 0.8;
    margin: 10px;
    padding: 10px 10px;
}
.hblock:hover{
    font-size: 23px;
    margin: 0px 50px ;
    color: rgb(107, 232, 75);
}
.quote{
    padding: 20px 10px 10px 0px;
}
.hmiddle .hbutton {
    padding: 10px;
    font-size: large;
}
.hmiddle .hbutton a{
    color: rgb(102, 236, 69);
}
.hmiddle .hbutton a:hover{
    color: rgb(133, 251, 104);
    font-size: larger;
    
}

.middle{
    /* border: 2px solid orangered; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding:80px 0px;
    /* height: auto;.... */
    /* text-align: center ; */
    /* display: block; */
    /* width: 100%; */
    /* background-color: black; */
    /* position: fixed; */
}
.middle h1{
    /* margin-bottom: ; */
    /* border: 2px solid red; */
    margin-left: -644px;
    color: rgb(107, 232, 75);
    text-shadow: 4px 4px 2px rgb(50, 5, 73);
    
}
.middle .ablock{
    /* border: 2px solid red; */
    box-shadow: -20px -60px 300px 10px  rgb(50, 5, 73);
    display: flex;
    border-radius: 40px;
    text-align: center;
    justify-content: center;
    /* height: auto; */
    /* width: auto; */
    /* margin-top: 45px; */
    padding: 10px 10px;
    /* align-items: center;... */
    /* flex-direction: column;... */
}
.middle .ablock .pic{
    /* border: 2px solid green; */

}
.middle .ablock ul{
    display: flex;
    flex-direction: column ;
    /* display: none; */
}
.middle .ablock ul li{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: baseline;
    /* padding: 2px; */
    /* margin: 5px; */
}
.middle .ablock .imageli a{
    font-size: 26px;
    padding: 2px 2px;
    margin-left: 4px;
    color: rgb(104, 19, 130);
    text-decoration: none;
}
.middle .ablock ul li a img{
    height: 30px;
    width: 30px;
    text-decoration: none; 
}


.middle .ablock .content{
    box-shadow: 0px 0px 20px -5px rgb(107, 232, 75);
    border-radius: 30px;
    /* border: 2px solid yellow; */
    color: rgb(52, 162, 25);
    margin: 2% 5%;
    width: 500px;
    padding: 10px;
    text-align: justify;
    /* width: auto; 
    padding:12px;*/
}


.qmiddle{
    /* border: 2px solid orangered; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: rgb(87, 50, 50); */
    /* text-align: center ; */
    /* display: block; */
    /* width: 100%; */
    /* background-color: black; */
    /* position: fixed; */
}
.qmiddle .quali{
    /* border: 2px solid yellow; */
    box-shadow: 0px 0px 20px -5px rgb(107, 232, 75);
    border-radius: 22px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}
.qmiddle .quali:hover{
    /* border: 2px solid yellow; */

    border-radius: 22px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
}
.qmiddle .hoverquali{
    /* border: 2px solid yellow; */
    box-shadow: 0px 0px 20px -5px rgb(242, 250, 9);
    /* border: 2px solid yellow; */
    border-radius: 22px;
    padding: 10px;
    margin: 20px;
    text-align: center;    
}
.qmiddle .hoverquali:hover{
    /* border: 2px solid yellow; */

    border-radius: 22px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
}

.qmiddle .quali ul li{
    list-style: none ;
    text-align: left;
}
.qmiddle .quali img{
    height: 100px;
    width: 100px;
    margin: 30px 0px;
}
.qmiddle .quali h1{
    margin: 20px 0px;
    color: rgb(112, 6, 179);
    text-shadow: 2px 2px 2px rgb(187, 75, 242);
}
.qmiddle .quali .text{
    font-size: 20px;
    font-weight: bolder;
    color:rgb(142, 12, 207); ;
}
.qmiddle .quali .textlib{
    font-size: 20px;
    font-weight: bolder;
    color:rgb(251, 247, 8) ;
}
.qmiddle .quali .textli{
    font-size: 16px;
    color: rgb(107, 232, 75);
}


.pmiddle{
    /* border: 2px solid orangered; */
    height: 800px;
    color: rgb(87, 50, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 50px;
    /* text-align: center ; */
    /* display: block; */
    /* width: 100%; */
    /* background-color: black; */
    /* position: fixed; */
}
.pmiddle .pfeild{
    /* border: 2px solid red; */
    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 0px 110px -40px rgb(106, 6, 142);
}
.pmiddle .pfeild h1{
    margin: 10px;
    border-radius: 30px;
    color: rgb(24, 153, 6);
    text-shadow: 1px 1px 2px rgb(210, 104, 242);
}
.pmiddle .pfeild .p{
    border-radius: 30px;
    display: flex;
    padding: 20px;
    flex-direction: row;
    /* border: 2px solid yellow; */
}
.pmiddle .pfeild .p a{
    text-decoration: none;
    color: rgb(80, 238, 60);
    padding: 5px;
    /* border: 2px solid yellow; */
}
.pmiddle .pfeild .p .project{
    /* border: 2px solid yellow; */
    box-shadow: 0px 0px 7px rgb(54, 255, 47);
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.pmiddle .pfeild .p .project h3{
    color: rgb(117, 2, 170);
}

.pmiddle .pfeild .p .project:hover{
    border: 2px solid green;
    cursor: pointer;
    margin: 5px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.pmiddle .pfeild img{
    height: 120px;
    width: 120px;
    margin: 10px 50px 10px 10px;
}



.imiddle{
    /* border: 2px solid orangered; */
    height: 100vh;
    color: rgb(87, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center ; */
    /* display: block; */
    /* width: 100%; */
    /* background-color: black; */
    /* position: fixed; */
}
.imiddle .intern{
    /* border: 2px solid yellow; */
    box-shadow: 0px 0px 40px rgb(86, 4, 158);
    border-radius: 30px;
    padding: 10px;
    margin: 20px 40px;
    text-align: center;
}
.imiddle .intern:hover{
    /* border: 2px solid yellow; */
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
}

.imiddle .intern ul li{
    list-style: none ;
    text-align: left;
}
.imiddle .intern img{
    height: 100px;
    width: 100px;
    margin: 30px 0px;
}
.imiddle .intern h1{
    margin: 20px 0px;
    color: rgb(4, 166, 29);
    text-shadow: 2px 3px 2px rgb(68, 165, 83);
}
.imiddle .intern .text{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(125, 5, 158);
}
.imiddle .intern .textli{
    font-size: 16px;
    color: green;
}


.rmiddle{
    /* border: 2px solid orangered; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center ; */
    /* color: rgb(87, 50, 50); */
    /* display: block; */
    /* width: 100%; */
    /* background-color: black; */
    /* position: fixed; */
}
.rmiddle .form {
    /* background-color: rgb(0, 0, 0); */
    border-radius: 30px;
    box-shadow: 5px 5px 40px 10px rgb(86, 4, 158);
    /* border: 2px solid green; */
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.rmiddle .form .feedback{
    /* border: 2px solid yellow; */
    border-radius: 30px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.rmiddle .form .feedback .button{
    border: 2px solid black;
    color: green;
    margin: 10px;
    border-radius: 50px;

}
.rmiddle .form .feedback input{
    /* border: 2px solid rgb(105, 4, 126); */
    box-shadow: 0px 0px 8px rgb(24, 236, 24);
    border-radius: 5px;
    font-weight: bolder;
    color: rgb(164, 42, 251);
    padding: 2px;
    margin: 10px;
    height: 20px;
    width: 180px;
}
.rmiddle .form .feedback .content{
    /* border: 2px solid black; */
    border-radius: 5px ;
    font-weight: bolder;
    box-shadow: 0px 0px 8px rgb(24, 236, 24);
    color: rgb(151, 56, 219);
    padding: 12px;
    height: auto;
    width: auto;
    margin: 10px;
}
.rmiddle .animate{
    border: 2px solid yellowgreen;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}


.cmiddle{
    /* border: 2px solid orangered; */
    height: 100vh;
    /* color: rgb(87, 50, 50); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center ; */
    /* display: block; */
    /* width: 100%; */
    /* background-color: black; */
    /* position: fixed; */
}
.cmiddle .contact{
    /* border: 2px solid red; */
    box-shadow: 0px 0px 80px 5px rgb(116, 3, 131);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* height: auto; */
    width: auto;
    margin: 0px 45px;
    padding: 10px 10px;
}
.cmiddle .contact h1,h4{
    margin: 10px;
    color: rgb(53, 230, 17);
    text-shadow: 2px 1px 2px greenyellow;
}
.cmiddle .contact input{
    /* border:2px solid rgb(135, 6, 135); */
    border-radius: 5px;
    background-color: black;
    color: rgb(79, 240, 79);
    box-shadow: 0px 0px 8px rgb(135, 6, 135);
}
.cmiddle .contact button{
    border-radius: 30px;
    color: rgb(10, 209, 10);
    box-shadow: 1px 1px 4px rgb(74, 247, 74);
    cursor: pointer;
}
.cmiddle .contact button:hover{
    box-shadow: 1px 1px 10px rgb(74, 247, 74);
    font-size: large;
}
.footer{
    display: flex;
    /* height: auto; */
    align-items: center;
    /* align-items: center; */
    justify-content: center;
    /* border: 2px solid red; */
    /* position: fixed; */
}
.footer ul{
    /* border: 2px solid green; */
    display: flex;
    /* margin:auto; */
    /* padding:0px 570px; */
    /* width: 2200px; */
    /* background-color:black; */
}

.footer ul li{
    
    /* display: block; */
    list-style: none;
    padding: 15px;
    justify-content: center;
    /* background-color: black; */

}


.footer ul li a img{
    /* display: block; */
    height: 30px;
    width: 30px;
    text-decoration: none;
    /* margin: 0px 78px 0px 08px; */

}
.footer ul li a img:hover{
    /* display: block; */
    height: 20px;
    width: 20px;
    text-decoration: none;
    
    /* margin: 0px 78px 0px 08px; */

}
.footer ul li a{
display: block;
text-decoration: none;
background-color:transparent;
}

.burger{
    position:absolute;
    cursor: pointer;
    right: 5%;
    top :34px;
    display: none;
}
.burger:hover{
    background-color: black;
    box-shadow: 2px 2px 2px green;
}
.line{
    width: 34px;
    height: 4px;
    margin: 3px 5px;
    background-color: rgb(99, 229, 99);
}
@media only screen and (max-width: 1140px){
    .navbar{
        flex-direction: column;
        align-items: center;
        /* height: 80px; */
        /* height: auto; */
    }
    .nav-h{
        flex-direction: column;
        align-items: center;
        /* height: auto; */
    }
    .navlist{
        flex-direction: column;
        display: none;
    }
    .navlist-res{
        flex-direction: column;
        align-items: baseline;
        margin-left: auto;
    }
    .navlist-res li{
        margin: 10px 0px;
    }
    
    .rightnav{
        text-align: center;
        padding-left: 20px;
        display: none;
    }
    .rightnav-res{
        text-align: center;
        padding-left: 20px;
        display:block;
    }
    .burger{
        display: block;
    }
    .middle {
        height: 1000px;
    }
    .middle h1{
        margin: auto;
    }
    .middle .ablock{
        align-items: center;
    flex-direction: column;
    }
    .middle .ablock .pic{
         display: flex;
    flex-direction: column;
    align-items: baseline;
    }
    .middle .ablock .pic ul{
        display: none;
    }
    .middle .ablock .content{
        width: auto;
        padding: 12px;
    }
    .qmiddle{
        height: auto;
        flex-direction: column;
    }
    .pmiddle{
        height: auto;
    }
    .pmiddle .pfeild{
        display: flex;
        flex-direction: column;
    }
    .pmiddle .pfeild .p{
        flex-direction: column;
    }
    .imiddle{
        width: auto;
        height: auto;
        flex-direction: column;
    }
    .rmiddle{
        /* height: auto; */
        flex-direction: column;
    }

    
}